server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/animalfarm?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
